/*************************************************
    GENERAL STYLES
*************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'PT Sans', sans-serif;
}

/*************************************************
    STILI HEADER
*************************************************/
.header_container {
    height: 60px;
    width: 100%;
    background-color: #0084fd;
    /* z-index: 500;
    position: fixed; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 40px;
}

.get-started {
    color: black;
    background-color: white;
    padding: 10px 12px;
    border-radius: 25px;
}

header a {
    text-decoration: none;
    color: white;
}

.header_desktop li {
    list-style-type: none;
    padding: 10px;
}

.header_desktop ul {
    display: flex;
}

/*************************************************
    STILI ABOUT APP
*************************************************/
.container {
    max-width: 90%;
    margin: 0 auto;
}

.col {
    background-color: #b5ddff;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 20px;
}

.about_app p {
    line-height: 150%;
    color: #5c7081;
    font-weight: 600;
}

.about_app h3 {
    font-size: 25px;
    color: #0084fd;
    padding: 10px 0;
}

/* Stile BGBLUE BUTTON */
.bgblue_button a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 8px;
    text-decoration: none;
    padding: 10px;
    border-radius: 25px;
    background-color: #0084fd;
    max-width: 55%;
    margin-top: 30px;
}

.bgblue_button h5 {
    letter-spacing: 3px;
    /* FINEEEE STILE BUTTON BLU*/
}

/* STILI FOTOGRAFIA PRIMA COL */
.foto_telefono img {
    width: 100%;
    padding-top: 30px;
    margin-bottom: -30px;
}

/* STILE DELLE COLONNE PIU PICCOLEE */
.toptext_blue {
    color: #0084fd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.text_center {
    text-align: center;
}

.toptext_blue i {
    font-size: 4.5rem;
    margin-bottom: 15px;
}

/*************************************************
    STILI STRATEGIC PLANNING
*************************************************/
.strategic_planning {
    background-color: #9792e4;
    padding-bottom: 30px;
}

.strategic_planning img {
    max-width: 100%;
    padding: 30px 0;
}

.strategic_planning h1,
.strategic_planning p {
    color: white;
    padding-bottom: 20px;
}

.app_develop {
    display: flex;
    background-color: white;
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
}

.fa-down-long {
    background-color: #9792e4;
    border-radius: 60%;
}

.app_develop a {
    padding-bottom: 20px;
}

.app_develop i {
    padding: 25px;
}

/*************************************************
    STILI TESTIMONIALS SECT
*************************************************/
.testimonials h2 {
    color: #9792e4;
    padding: 20px 0;
}

.testimonials_text {
    padding: 20px 0;
}

.testimonials_card {
    background-color: #9792e4;
    border-radius: 30px;
    margin-bottom: 20px;
}

.card_img {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}


.card_img img {
    /* Fix della foto per farla perfettamente rotonda */
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.card_text {
    color: white;
    padding: 10px;
}

.card_text p {
    padding-bottom: 10px;
}

.card_text span {
    font-weight: 600;
}

/*************************************************
    BENEFITS OF WORKING WITH US
*************************************************/
.working_with_us {
    background-color: #9792e4;
    padding-bottom: 30px;
}

.working_with_us h2 {
    color: white;
    padding: 20px 0;
}

/* Stili card */
.card_sect4 {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 20px;
}

.card_sect4 h4 {
    font-size: 20px;
    color: #9792e4;
    padding: 10px 0;
}

.card_sect4 p {
    color: #adadad;
    padding-bottom: 15px;
    line-height: 1.5;
}

.card_sect4 span {
    font-size: 30px;
    font-weight: 800;
    color: #9792e4;
}

/* Set up btn viola */
.bgviolet_button a {
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 25px;
    background-color: #9792e4;
    max-width: 50%;
    letter-spacing: 3px;
    font-weight: 600;
}

/*************************************************
    ABOUT US
*************************************************/
.aboutus_left h1 {
    color: #9792e4;
    font-size: 35px;
    padding-top: 30px;
}

.aboutus_left p {
    padding: 20px 0;
}

.aboutus_left {
    line-height: 2;
}

.aboutus_right p {
    font-size: 30px;
    font-weight: 700;
    color: #9792e4;
}

.aboutus_right img {
    /* Fix della foto per farla perfettamente rotonda */
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.linkedin_btn a {
    /* Setup linkedin btn */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 10px;
    text-decoration: none;
    padding: 6px;
    border-radius: 25px;
    background-color: #9792e4;
    max-width: 50%;
    margin: 30px 0;
}

/*************************************************
    MOBILE LAYOUT
*************************************************/
@media all and (max-width:480px) {

    /* Stili header */
    .header_desktop {
        display: none;
    }
}

/*************************************************
    TABLET LAYOUT
*************************************************/
@media all and (min-width:481px) {

    /* Stili header */
    .header_desktop {
        display: none;
    }

    /* Stili delle righe e colonne del tablet & DESKTOP device */
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .col {
        width: calc((100% / 3) - 30px);
        margin-right: 15px;
    }

    /* Stile della prima colonna nella prima riga */
    #demo {
        width: calc((100% / 3) * 2);
    }

    /* Stile della TERZA sect */
    .testimonials_card {
        display: flex;
    }

    .card_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
        text-align: left;
    }

    /* Stile della QUARTA sect */
    .rowtab-desk {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card_sect4 {
        width: calc((100% / 2) - 10px);
    }

    /* Stile  ABOUT US sect*/
    /* .row_aboutus {
    display: flex;
} */
}

/*************************************************
    DESKTOP LAYOUT
*************************************************/
@media all and (min-width:769px) {

    /* Stili header */
    .header_mob_tab {
        display: none;
    }

    .header_desktop {
        display: inline-block;
    }

    .container {
        max-width: 70%;
    }

    /* Stile della prima colonna nella prima riga */
    #demo {
        display: flex;
    }

    /* Stili della seconda sezione con bg viola */
    .col1 {
        width: calc(100% / 2);
    }

    .planning_left-side img {
        max-width: 100%;
    }

    .app_develop img {
        max-width: 40%;
    }

    .row1 {
        display: flex;
        align-items: flex-end;
    }

    /* Stili della quarta sezione con calc per le card */
    .card_sect4 {
        width: calc((100% / 3) - 10px);
    }
}